html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    overflow: hidden;
}

#editor-element-id {
    height: 100%;
    width: 100%;
}

.root-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.root-outlet {
    flex: 1;
    overflow: auto;
}

@font-face {
    font-family: 'Agave';
    src: url('./public/Agave-Regular.ttf') format('truetype');
}

.h-100 {
    height: 100%;
}